@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  background-color: black;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  position: relative;
}

.image-slider {
  position: absolute;
  bottom: 3vh;
  /* This puts the slider left side in the middle of the screen */
  left: 50%;
  /* This moves the slider to the left by half of its width which will make sure that the middle of the slider will be on the middle of the screen */
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  overflow: auto;
  height: 7vh;
  width: 350px;
  border-radius: 5px;
  background: rgba(43, 44, 44, 0.815);
  /* border-style: solid;
  border-color: aliceblue; */
}

.image-slider img {
  /* height: 70px; */
  height: auto;
  width: 8vh;
  object-fit: cover;
  object-position: center center;
  margin: 3px;
  cursor: pointer;
  border-radius: 3px;
}

body img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  /* position: relative; */
}

:focus {
  outline: lightskyblue;
  outline-width: 2px;
  outline-style: solid;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(43, 44, 44, 0.815);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.prev {
  left: 10px;
} /* This will put the prev button 10px from the left side of the screen */

.next {
  right: 10px;
} /* This will put the next button 10px from the right side of the screen */

/* For Desktop monitors */
@media (min-width: 768px) {
  .image-slider {
    width: 450px;
    top: 3vh;
    height: 10vh;
  }

  .image-slider img {
    width: auto;
    height: 70px;
  }
}
